/* =========== Hero =========== */

.hero {
    height: var(--feature-image-height);
    width: 100%;
    background-image: url("../img/hero.jpg");
    background-attachment: fixed;
    background-position: right;
    display: grid;
    align-content: center;
}

.hero h1 {
    font-size: 3rem;
    color: var(--text-light);
    text-shadow: 0 0 10px black;
    text-align: center;
}


/* =========== Articles =========== */

.articles {
    color: var(--text-dark);
    margin: 3rem 3rem;
    display: flex;
    gap: 1rem;
}

.articles img {
    border-radius: .5rem;
    box-shadow: 1px 1px 5px var(--light-gray);
}

.article-item-1 {
    display: flex;
    flex-direction: column;
}

.article-item-2 {
    display: flex;
    flex-direction: column-reverse;
}

.article-item-1 p,
.article-item-2 p {
    padding-inline: 1rem;
}


/* =========== Testimonials =========== */
.testimonial-container {
    text-align: center;
    margin-block: 5rem;
    color: var(--text-dark);
}

.testimonial-container>.testimonials {
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.testimonial-container>.heading {
    font-size: 2rem;
}

.testimonials>.testimonial {
    display: flex;
    gap: 1rem;
    max-width: 20rem;
    text-align: left;
    font-style: italic;
}

.avatar>.round-icon {
    width: var(--avatar-size);
    height: auto;
    /* border: solid 2px var(--light-gray); */
    border-radius: calc(var(--avatar-size) / 2);
}

.testimonial>.comment>.testimonial-author {
    font-weight: bold;
    display: block;
}


/* =========== Humm90 =========== */
.humm90 {
    margin: 3rem;
    display: grid;
    justify-items: center;
    padding: 3rem;
    /* box-shadow: 2px 2px 5px var(--light-gray); */
    border-radius: .5rem;
}

.humm90>.row>.logo {
    width: 20rem;
}

.humm90>.eligibility {
    max-height: 25rem;
    padding-top: 1.5rem;
}

.humm90>.mastercard {
    max-width: 1000px;
}

.humm90 > .row {
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    color: #30609f;
    padding-bottom: 1rem;
    border-bottom: solid 1px #30609f;
}

.btn-red {
    padding: 10px 20px;
    border-radius: 100px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1.5rem;
    font-size: 110%;
    color: var(--text-light);
    background-color: var(--red);
    border: none;
    box-shadow: 0px 0px 5px var(--light-gray);
    transition: var(--link-grow);
}

.btn-red:hover {
    transform: scale(1.05);
}